:root {
  --rect-slice-border-color: #3a393a;
  --rect-slice-border-width: 1px;
}

.App {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  padding: 12px;
}

.InitPanel {
  background: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}

.colorFieldSquare {
  height: 13px;
  width: 13px;
  outline: aliceblue solid 1px;
  margin-top: 5px;
  margin-right: 5px;

}

.validationBox {
  display: flex;
  flex-direction: column;
  flex-basis: content;
}